.container{
    max-width: 1250px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* Удаляю размер шрифта */
.wrapper{
    font-size: 0;
    border: 4px solid red;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}

/* Возвращаю шрифт блокам с контентом сайта и придаю стили */
.item{
    width: calc(100% / 3);
    display: inline-block;
    font-size: 18px;
    padding: 20px 15px;
    box-sizing: border-box;
    text-align: center;
}
.thing{
    width: 50%;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
    padding: 20px;
}

/* Стилизация внутри item */
.item img{
    height: 200px;
    padding: 16px;
}
.item h4 {
    color: royalblue;
}
.item p {
    color: darkgray;
}

/* Стилизация внутри thing */
.thing h2{
    text-align: center;
}
.thing h3{
    padding-bottom: 30px ;
}
.thing dl dd{
    padding: 10px 0;
    color: darkgray;
}
